{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Masroofy</title>

    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
</head>
<body>

    <!-- NAVBAR -->
    <nav class="navbar">
        <div class="logo">Masroofy</div>

        <ul class="nav-links">
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </nav>

    <!-- CONTENT -->
    <div class="container">
        {% block content %}{% endblock %}
    </div>

</body>
</html>