{% extends 'core/base.html' %}

{% block content %}

<h2>Dashboard</h2>

{% if threshold_reached %}
    <p style="color:orange;">⚠️ Warning: You have used 80% or more of your budget!</p>
{% endif %}

<div class="grid">

    <div class="card">
        <h3>Balance</h3>
        <p>{{ balance }} EGP</p>
    </div>

    <div class="card">
        <h3>Daily Limit</h3>
        <p>{{ daily_limit }} EGP</p>
    </div>

    <div class="card">
        <h3>Remaining Days</h3>
        <p>{{ remaining_days }} Days</p>
    </div>

</div>

{% endblock %}