{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div class="card" style="max-width: 400px; margin: auto;">
    <h2>Login</h2>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <input type="password" name="pin" placeholder="Enter PIN" required>

        <button type="submit" class="btn">Login</button>
    </form>

    <p>Don't have an account? 
        <a href="{% url 'signup' %}">Sign Up</a>
    </p>
</div>

{% endblock %}