{% extends 'core/base.html' %}

{% block content %}
<div class="card">
    <h2>Setup Budget</h2>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <input type="number" name="totalAllowance" placeholder="Total Budget (EGP)" min="1" required>
        <!-- <input type="date" name="startDate" required> -->
        <input type="date" name="endDate" required>
        <button type="submit" class="btn">Start</button>
    </form>
</div>
{% endblock %}