{% extends 'core/base.html' %}

{% block content %}
<div class="auth-container">
    <div class="card" style="width: 350px;">
        <h2>Signup</h2>

        {% if error %}
            <p style="color:red;">{{ error }}</p>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <input name="userName" placeholder="Username">
            <input name="pin" placeholder="PIN">
            <input name="confirmPin" placeholder="Confirm PIN">
            <button class="btn">Create Account</button>
        </form>
    </div>
</div>
{% endblock %}