body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background-color: #f5f7fa;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2d89ef;
    padding: 15px 30px;
    color: white;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

/* LAYOUT */
.container {
    padding: 30px;
}

/* CENTER AUTH */
.auth-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CARD */
.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* INPUT */
input, select {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* BUTTON */
.btn {
    background: #2d89ef;
    color: white;
    border: none;
    padding: 12px;
    margin-top: 15px;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    background: #1b5fbf;
}

/* GRID (dashboard) */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}